<form [formGroup]="form" (ngSubmit)="addMember()">
  <div class="form-row mt-4 mb-4">
    <div class="col-4">
      <label for="teamMember">Availability of Team Member [days]</label>
    </div>
    <div class="col-5">
      <input type="number" class="form-control" id="teamMember" formControlName="availability" required>
      <div *ngIf="availability.invalid && (availability.dirty || availability.touched)" class="alert alert-danger">
        <div *ngIf="availability.errors.required">Value is required.</div>
        <div *ngIf="availability.errors.min">Minimum is 1.</div>
        <div *ngIf="availability.errors.max">Maximum is {{ sprintLength * 5 - holidays }}.</div>
      </div>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary" [disabled]="!form.valid" (click)="addMember()" aria-label="Add">
        <fa-icon [icon]="faUserPlus"></fa-icon>
      </button>
    </div>
  </div>
</form>
